<div class="span3">
    <div class="well well-small sidebar-nav affix">
        <ul class="nav nav-list" id="navbar">
            <li class="nav-header">Acerca de <em>IDMeasure</em></li>
            <li class="active"><a href="#about">Acerca de</a></li>
            <li><a href="#about_feats">Características</a></li>
            <li><a href="#about_contact">Contacto</a></li>
            <li class="nav-header">Mejoras de <em>IDMeasure</em></li>
            <li><a href="#about_done">Lo nuevo</a></li>
            <li><a href="#about_pending">Lo que viene</a></li>
            <li><a href="#about_add">Proponer</a></li>
        </ul>
    </div>
</div>
<div class="span9">
    <section id="about">
        <div class="page-header">
            <h1>Acerca de <small>IDMeasure <sup><i>beta</i></sup> <sub><i>v. 0.0.1</i></sub></small></h1>
        </div>
        <p>
            IDMeasure es una aplicación muy simple, su intención es permitir hacer una medición y comparación de datos.
            <br />
            <br />
            Se trata de una aplicación en versión <em>beta</em> y en constante desarrollo, en la que los usuarios proponen los cambios que se harán a la misma o votan por el cambio que más les gusta.
        </p>
    </section>
    <section id="about_feats">
        <h2>Características</h2>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <th>HTML5</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Responsibe Design</th>
                <td class="muted">Permite que se visualize en múltiples dispositivos</td>
            </tr>
            <tr>
                <th>Integración con Facebook</th>
                <td>Evita el usar contraseñas especiales.<br /><small>En una furura versión se usará OpenID</small></td>
            </tr>
            </tbody>
        </table>
    </section>
    <section id="about_contact">
        <h2>Contacto</h2>
        <form class="form-horizontal border_rounded" id="aboutForm">
            <div class="control-group">
                <label class="control-label" for="inputName">Nombre</label>
                <div class="controls">
                    <input type="text" id="inputName" placeholder="Nombre...">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">E-mail</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="E-mail...">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputComment">Comentario</label>
                <div class="controls">
                    <textarea rows="3" id="inputComment" placeholder="Comentario..."></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-small" type="button" id="aboutSend">Enviar</button>
                    <button class="btn btn-small" type="button" id="aboutClear">Limpiar</button>
                    <span id="aboutInfo">&nbsp;</span>
                </div>
            </div>
        </form>
    </section>
</div>